@charset "utf-8";
/* CSS Document */
body {text-align: center;}		
#contact {		
    text-align: center;        
	border-radius: 10px;				
	background-color: grey;		
	width: 60%;		
	height: 60%;		
}                
.span {        
    width: 80%;        
	border-radius: 10px;		
	background-color: lightgrey;		
}        
.message {        
    width: 80%;        
    height: 60vh;        
	border-radius: 10px;				
	background-color: lightgrey;		
}        
p {color: red;}		
